#quote-box {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 200px;
  border: 1px solid rgb(220, 247, 220);
  border-radius: 5px;
  /* background-color: aqua; */
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -300px;
  color: rgba(6, 155, 241, 0.861);
}
body {
  background-image: url("../assets/friends-bimg.jpeg");
}
#new-quote {
  border-radius: 5px;
  /* background-color: blueviolet; */
}
/* #newQuoteandIcon {
  flex-direction: row;
  width: 500px;
  justify-content: center;
  background-color: aliceblue;
} */
#footer {
  background-color: aqua;
  margin-left: 80%;
  width: 30%;
}
